<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Library Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Other Items
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">

            {% for otheritem in otheritems %}
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{ otheritem.title }}</strong>
                            <br>{{ otheritem.creator }}
                            <p><a href = "#">Borrow</a> </p>
                        </p>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>

    </section>
    <footer class="footer">
        <p><a href = "/logout">logout</a> </p>
    </footer>
</body>

</html>